# Relatório VII

## Criando Agrupamentos

In [2]:
import pandas as pd

In [3]:
dados = pd.read_csv('dados/aluguel_residencial.csv', sep = ';')

In [4]:
dados.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU,Valor_m2,Tipo Agregado
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0,42.50,Apartamento
1,Casa,Jardim Botânico,2,0,1,100,7000.0,0.0,0.0,70.00,Casa
2,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0,53.33,Apartamento
3,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0,16.67,Apartamento
4,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0,26.00,Apartamento
5,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,0.0,0.0,29.33,Casa
6,Casa de Condomínio,Ramos,2,2,0,65,1000.0,0.0,0.0,15.38,Casa
7,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0,21.43,Apartamento
8,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0,16.67,Apartamento
9,Apartamento,Copacabana,1,0,1,40,2000.0,561.0,50.0,50.00,Apartamento

### https://pandas.pydata.org/pandas-docs/stable/api.html#api-dataframe-stats

In [51]:
dados.pop('Bairro')

15    Tijuca
Name: Bairro, dtype: object

In [5]:
dados['Valor'].mean()

5046.172821405663

In [6]:
bairros = ['Barra da Tijuca', 'Copacabana', 'Ipanema', 'Leblon', 'Botafogo', 'Flamengo', 'Tijuca']
selecao = dados['Bairro'].isin(bairros)
dados = dados[selecao]

In [35]:
dados['Bairro'].drop_duplicates()

0          Copacabana
5     Barra da Tijuca
15             Tijuca
19            Ipanema
23           Botafogo
27             Leblon
78           Flamengo
Name: Bairro, dtype: object

In [37]:
grupo_bairro = dados.groupby('Bairro')

In [38]:
grupo_bairro.groups

{'Barra da Tijuca': Int64Index([5], dtype='int64'),
 'Botafogo': Int64Index([23], dtype='int64'),
 'Copacabana': Int64Index([0], dtype='int64'),
 'Flamengo': Int64Index([78], dtype='int64'),
 'Ipanema': Int64Index([19], dtype='int64'),
 'Leblon': Int64Index([27], dtype='int64'),
 'Tijuca': Int64Index([15], dtype='int64')}

In [42]:
for bairro, dados in grupo_bairro:
    print('{} -> {}'.format(bairro,dados.Valor.mean()))

Barra da Tijuca -> 22000.0
Botafogo -> 2500.0
Copacabana -> 1700.0
Flamengo -> 1000.0
Ipanema -> 7000.0
Leblon -> 3900.0
Tijuca -> 1900.0

In [45]:
grupo_bairro['Valor', 'Condominio'].mean().round(2)

                   Valor  Condominio
Bairro
Barra da Tijuca  22000.0         0.0
Botafogo          2500.0       740.0
Copacabana        1700.0       500.0
Flamengo          1000.0       581.0
Ipanema           7000.0      2100.0
Leblon            3900.0      1500.0
Tijuca            1900.0       700.0